# =============================================================================
# Docker Build Template - Go Services
# =============================================================================

parameters:
  - name: serviceName
    type: string
  - name: imageTag
    type: string
    default: '$(Build.BuildId)'

steps:
  - task: Docker@2
    displayName: 'Build ${{ parameters.serviceName }}'
    inputs:
      containerRegistry: 'QuckApp-ACR'
      repository: 'quckapp/${{ parameters.serviceName }}'
      command: buildAndPush
      Dockerfile: 'services/${{ parameters.serviceName }}/Dockerfile'
      buildContext: 'services/${{ parameters.serviceName }}'
      tags: |
        ${{ parameters.imageTag }}
        latest
      arguments: |
        --build-arg VERSION=${{ parameters.imageTag }}
        --build-arg GIT_COMMIT=$(Build.SourceVersion)
